{% extends "auctions/layout.html" %}


{% block body %}
    <h2>My Watchlist</h2>

    {% if user_list %}
        {% for listing in user_list %}
        {% comment %} watchlist starts {% endcomment %}
        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-13">
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><a href="{% url 'listing' listing_id=listing.id %}"><img class="img-fluid img-responsive rounded product-image" src={{listing.img_url}}></div></a>
                        <div class="col-md-6 mt-1">
                            <a href="{% url 'listing' listing_id=listing.id %}"> <h4>{{listing.title}}</h4> </a>
                            <p class="text-muted font-weight-light">Posted {{listing.created_at}}</p>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            </div>
                            <p class="text-justify text-truncate para mb-0">{{listing.description}}<br><br></p>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <h4 class="mr-1 text-primary"> $ {{listing.current_price}}</h4>
                            </div>
                            <h6 class="text-secondary"> Bids : {{listing.bid_number}}</h6>
                            <div class="d-flex flex-column mt-4">
                                <a class="btn btn-primary btn-sm" href="{% url 'listing' listing_id=listing.id %}" role="button">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        {% comment %} watchlist ends {% endcomment %}
        {% endfor %}    
    {%else%}
        <div>
            <h2> Your watchlist is empty. </h2>
        </div>  
    {%endif %}      
{% endblock %}